USE [master]
GO
/****** Object:  Database [PROJECT_BI_DW]    Script Date: 1/9/2021 5:56:43 PM ******/
CREATE DATABASE [PROJECT_BI_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROJECT_BI_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PROJECT_BI_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROJECT_BI_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PROJECT_BI_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROJECT_BI_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROJECT_BI_DW]
GO
/****** Object:  Table [dbo].[Dim_Company]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Company](
	[SK_Company] [int] identity(1, 1)NOT NULL,
	[BK_Company] [int] NULL,
	[Company_Name] [nvarchar](100) NULL,
	[Company_Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_Dim_Company] PRIMARY KEY CLUSTERED 
(
	[SK_Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[SK_Date] [int] NOT NULL,
	[ReleasedDate] [date] NULL,
	[Day_Number] [int] NULL,
	[Week_Day] [nvarchar](50) NULL,
	[Month_Number] [int] NULL,
	[Trimester_Number] [int] NULL,
	[Semester_Number] [int] NULL,
	[Year] [int] NULL,
	[Day_Name] [nvarchar](50) NULL,
	[Day_Name_Short] [nvarchar](50) NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[SK_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Director]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Director](
	[SK_Director] [int] identity(1, 1) NOT NULL,
	[BK_Director] [int] NULL,
	[DirectorName] [nvarchar](100) NULL,
	[SCD_Start_Date] [datetime] NULL,
	[SCD_End_Date] [datetime] NULL,
 CONSTRAINT [PK_Dim_Director] PRIMARY KEY CLUSTERED 
(
	[SK_Director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Genre]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Genre](
	[SK_Genre] [int] identity(1, 1) NOT NULL,
	[BK_Genre] [int] NULL,
	[Genre_Name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Dim_Genre] PRIMARY KEY CLUSTERED 
(
	[SK_Genre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Movies]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Movies](
	[SK_Movie] [int] identity(1, 1) NOT NULL,
	[BK_Movie] [int] NULL,
	[Movie_Title] [nvarchar](100) NULL,
	[Movie_Runtime] [int] NULL,
	[Movie_Rating] [nvarchar](100) NULL,
 CONSTRAINT [PK_Dim_Movies] PRIMARY KEY CLUSTERED 
(
	[SK_Movie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Star]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Star](
	[SK_Star] [int] identity(1, 1) NOT NULL,
	[BK_Star] [int] NULL,
	[Star_FullName] [nvarchar](100) NULL,
	[SCD_Start_Date] [datetime] NULL,
	[SCD_End_Date] [datetime] NULL,
 CONSTRAINT [PK_Dim_Star] PRIMARY KEY CLUSTERED 
(
	[SK_Star] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Writer]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Writer](
	[SK_Writer] [int] identity(1, 1) NOT NULL,
	[BK_Writer] [int] NOT NULL,
	[WriterFullName] [nvarchar](100) NULL,
	[SCD_Start_Date] [datetime] NULL,
	[SCD_End_Date] [datetime] NULL,
 CONSTRAINT [PK_Dim_Writer] PRIMARY KEY CLUSTERED 
(
	[SK_Writer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_ProfitPopularity]    Script Date: 1/9/2021 5:56:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_ProfitPopularity](
	[FK__Movies] [int] NOT NULL,
	[FK_Genre] [int] NOT NULL,
	[FK_Company] [int] NOT NULL,
	[FK_Date] [int] NOT NULL,
	[FK_Star] [int] NOT NULL,
	[FK_Writer] [int] NOT NULL,
	[FK_Director] [int] NOT NULL,
	[Budget] [int] NULL,
	[Gross] [int] NULL,
	[Votes] [int] NULL,
	[Score] [float] NULL,
 CONSTRAINT [PK_Fact_ProfitPopularity] PRIMARY KEY CLUSTERED 
(
	[FK__Movies] ASC,
	[FK_Genre] ASC,
	[FK_Company] ASC,
	[FK_Date] ASC,
	[FK_Star] ASC,
	[FK_Writer] ASC,
	[FK_Director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Company] FOREIGN KEY([FK_Company])
REFERENCES [dbo].[Dim_Company] ([SK_Company])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Company]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Date] FOREIGN KEY([FK_Date])
REFERENCES [dbo].[Dim_Date] ([SK_Date])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Date]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Director] FOREIGN KEY([FK_Director])
REFERENCES [dbo].[Dim_Director] ([SK_Director])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Director]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Genre] FOREIGN KEY([FK_Genre])
REFERENCES [dbo].[Dim_Genre] ([SK_Genre])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Genre]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Movies] FOREIGN KEY([FK__Movies])
REFERENCES [dbo].[Dim_Movies] ([SK_Movie])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Movies]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Star] FOREIGN KEY([FK_Star])
REFERENCES [dbo].[Dim_Star] ([SK_Star])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Star]
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Writer] FOREIGN KEY([FK_Writer])
REFERENCES [dbo].[Dim_Writer] ([SK_Writer])
GO
ALTER TABLE [dbo].[Fact_ProfitPopularity] CHECK CONSTRAINT [FK_Fact_ProfitPopularity_Dim_Writer]
GO
USE [master]
GO
